/* Resets */
hr {
    margin-left: 0;
    max-width: 40px;
  }
  
  /* Jumbotron (hero) */
  .jumbotron {
    position: relative;
    background: url(https://source.unsplash.com/9Y8vxVQN4o4/1920x1080) no-repeat bottom center/cover;
  }
  .jumbotron:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  .jumbotron .container {
    padding: 125px 0;
    background: transparent;
  }
  .jumbotron h1{
    color: #fff;
    font-size: 22px;
  }
  .jumbotron .lead {
    color: #fff;
    font-size: 13px;
  }
  span.b{
    color: blue;
  }  span.r{
    color: red;
  }  span.y{
    color: rgb(168, 168, 12);
  }  span.g{
    color: green; 
  }
  
  /* Bustom button */
  .btn-primary {
    background: #1096fc;
    border: 0;
  }
  .btn-primary:hover {
    background: #0384e5;
  }
  
  /* Features */
  .sec-features .row:nth-of-type(n+2) {
    margin-top: 160px;
  }
  .sec-features .row:last-of-type {
    margin-bottom: 160px;
  }
  .sec-features .feature-icon {
    max-width: 150px;
  }
  
  /* Testimonials */
  .sec-testimonials {
    padding-top: 128px;
    padding-bottom: 128px;
  }
  
  /* Carousel */
  .carousel-indicators {
    bottom: -30px;
  }
  .carousel-indicators li {
    background: rgba(33, 33, 33, 0.1);
  }
  .carousel-indicators li:focus, .carousel-indicators li:hover {
    background: rgba(33, 33, 33, 0.5);
  }
  .carousel-indicators .active {
    background: rgba(33, 33, 33, 0.75);
  }
  
  .carousel-control-next,
  .carousel-control-prev {
    color: #212121;
  }
  .carousel-control-next:focus, .carousel-control-next:hover,
  .carousel-control-prev:focus,
  .carousel-control-prev:hover {
    color: #111;
  }
  
  /* Footer */
  .footer {
    padding-top: 24px;
    padding-bottom: 24px;
    background: #212121;
  }
  .footer li:nth-of-type(n+2) {
    margin-left: 8px;
  }
  .footer a {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.235s ease-in-out;
  }
  .footer a:focus, .footer a:hover {
    color: rgba(255, 255, 255, 0.25);
  }